In [18]:
import pandas as pd
import datetime

# Custos Iniciais

In [19]:
custo_itbi=0.03*valor_imovel
custo_escritura=3000
custo_registro=2000
custo_avaliacao=4000

total_custos_iniciais=custo_itbi+custo_escritura+custo_registro+custo_avaliacao

# Imputs

In [20]:
valor_imovel=720000
entrada_pp=0.2
n_parcelas=420                      # 35 anos
juros_nominal=0.0799                # a.a

# Cálculo financiamento

In [21]:
juros_efetivo=((1+juros_nominal/12)**(12)-1)            # Efeito anual dos juros sobre juros mensais.  

valor_entrada=valor_imovel*entrada_pp
valor_finaciado=valor_imovel-valor_entrada

Encargos_finaciamento=130

In [27]:
amortizacao=valor_finaciado/n_parcelas
saldo_devedor=valor_finaciado

# Cálculo do juros em função do mês
def parcela(n):
    saldo_devedor=valor_finaciado-n*amortizacao
    juros=saldo_devedor*juros_nominal/12
    return amortizacao+juros+Encargos_finaciamento

df=pd.DataFrame(columns=['saldo_devedor','parcela'],index=range(0,n_parcelas))


for i in range(0,n_parcelas):
    df.loc[i,'saldo_devedor']=valor_finaciado-i*amortizacao
    df.loc[i,'parcela']=parcela(i)
df

     saldo_devedor      parcela
0         576000.0  5336.628571
1    574628.571429  5327.497143
2    573257.142857  5318.365714
3    571885.714286  5309.234286
4    570514.285714  5300.102857
..             ...          ...
415    6857.142857  1547.085714
416    5485.714286  1537.954286
417    4114.285714  1528.822857
418    2742.857143  1519.691429
419    1371.428571      1510.56

[420 rows x 2 columns]

# Custos fixos

In [28]:
condominio=704
iptu=1530/12
luz=120

total_custos_fixos=condominio+iptu+luz

In [29]:
for i in range(0,len(df)):
    df.loc[i,'custos_fixos']=total_custos_fixos
    if i==0:
        df.loc[i,'custos_iniciais']=total_custos_iniciais
    else:
        df.loc[i,'custos_iniciais']=0
df

     saldo_devedor      parcela  custos_fixos  custos_iniciais
0         576000.0  5336.628571         951.5          30600.0
1    574628.571429  5327.497143         951.5              0.0
2    573257.142857  5318.365714         951.5              0.0
3    571885.714286  5309.234286         951.5              0.0
4    570514.285714  5300.102857         951.5              0.0
..             ...          ...           ...              ...
415    6857.142857  1547.085714         951.5              0.0
416    5485.714286  1537.954286         951.5              0.0
417    4114.285714  1528.822857         951.5              0.0
418    2742.857143  1519.691429         951.5              0.0
419    1371.428571      1510.56         951.5              0.0

[420 rows x 4 columns]

# Custos com reforma

In [30]:
obra=95000
prazo_obra=4                # Prazo da obra em mesês

def reforma(i, n,total):
    if i<n:
        return total/n
    else:
        return 0

for i in range(0,len(df)):
    df.loc[i,'reforma']=reforma(i,prazo_obra,obra)
df

     saldo_devedor      parcela  custos_fixos  custos_iniciais  reforma
0         576000.0  5336.628571         951.5          30600.0  23750.0
1    574628.571429  5327.497143         951.5              0.0  23750.0
2    573257.142857  5318.365714         951.5              0.0  23750.0
3    571885.714286  5309.234286         951.5              0.0  23750.0
4    570514.285714  5300.102857         951.5              0.0      0.0
..             ...          ...           ...              ...      ...
415    6857.142857  1547.085714         951.5              0.0      0.0
416    5485.714286  1537.954286         951.5              0.0      0.0
417    4114.285714  1528.822857         951.5              0.0      0.0
418    2742.857143  1519.691429         951.5              0.0      0.0
419    1371.428571      1510.56         951.5              0.0      0.0

[420 rows x 5 columns]

# Cenários de venda